/*--------------------The below CSS for Pulse Grow taken from hover.css-*/
/*-----------------------------------Small modifications made by myself-*/


/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
}

.intro .hvr-pulse-grow {
    display: inline-block;
    vertical-align: top;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.intro .hvr-pulse-grow {
    -webkit-animation-name: hvr-pulse-grow;
    -moz-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
}
