/*------------------------------------------------------General Styling-*/

html {
    /* Not supported in Edge, Safari and IE */
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.text-paragraph {
    font-family: "capucine-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4em;
}

.text-header {
    font-family: "capucine-web", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.menu-padding {
    min-height: 50px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/*---------------------------------------------------------------Colors-*/

.bg-color-black {
    background-color: #000;
}

.bg-color-white {
    background-color: #fff;
}

.bg-color-cream {
    background-color: #fff5cc;
}

.bg-color-dark-cream {
    background-color: #f5e4b1;
}

.bg-color-light-green {
    background-color: #d4f5b1;
}

.bg-color-light-pink {
    background-color: #f5b1d4;
}

.bg-color-light-purple {
    background-color: #d2b1f5;
}

.bg-color-light-blue {
    background-color: #b0d0fc;
}

.bg-color-dark-blue {
    background-color: #292659;
}

.bg-color-purple {
    background-color: #432659;
}

.bg-color-light-grey {
    background-color: #eee;
}

/*-----------------------------------------------------------Navigation-*/

.navbar {
    font-family: "chauncy-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.9em;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 0;
}

.navbar-nav {
    padding: 20px 15px 20px 15px;
    margin: 0;
}

.nav-bg-solid {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar .navbar-brand,
.navbar .navbar-brand:focus {
    font-size: 1em;
    color: #fff5cc;
    transition: all .2s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: #fff5cc;
    transform: scale(1.1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
    transform: scale(1.1)
}

.navbar-default .navbar-nav>li>a {
    color: #fff5cc;
    transition: all .2s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    transform: scale(1.1);
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    border: 0;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff5cc;
}

/*----------------------------------------------Home | Background Image-*/

.bg-fixed {
    background: url("../images/home/bg.jpg") center / cover;
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -2;
}

/*--------------------------------------------------------------Landing-*/

.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
    font-family: "balloon-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.jumbo-h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro .hr-divider {
    width: 50%;
    margin: 30px auto;
}

.clear-tel-style,
.clear-tel-style:hover,
.clear-tel-style:active,
.clear-tel-style:focus {
    color: inherit;
    text-decoration: none;
}

.btn-outline-get-in-touch,
.btn-outline-get-in-touch:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    letter-spacing: 0.1em;
    outline: none;
    border-width: 3px;
}

.btn-outline-get-in-touch:hover,
.btn-outline-get-in-touch:active,
.btn-outline-get-in-touch:active:focus {
    background: #fff;
    color: #000;
    border-color: #ddd;
    outline: none;
}

.intro a .down-arrows {
    font-size: 4em;
    margin-top: 20px;
    color: #fff;
    transition: 0.7s;
}

.intro a .down-arrows:hover {
    color: #432659;
    transform: translate(0, 10px);
}

/*----------------------------------------------------------------About-*/

.about-link {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

.tina-pic {
    background: url('../images/about/tina_profile.png') top / contain no-repeat;
    min-height: 250px;
    margin: 50px 10px 10px 10px;
}

.about-text-wrapper {
    margin: 0 20px 50px 20px;
    color: #fff;
    text-align: center;
}

.text-header--about {
    margin-bottom: 20px;
}

.services-box-wrapper {
    padding: 25px 15px;
    text-align: center;
    border-top: 10px solid #432659;
    border-bottom: 10px solid #432659;
}

.services-fa {
    font-size: 4em;
    margin-bottom: 10px;
    padding: 0 10px;
}

.services-fa-purple {
    color: #9e03ff;
}

.services-fa-green {
    color: #70c729;
}

.services-fa-pink {
    color: #ff0062;
}


.text-header--services {
    margin-bottom: 20px;
    font-weight: bold;
}

.spacer {
    min-height: 40px;
}

/*-----------------------------------------------------------Activities-*/

.bg-pic-indoors {
    background: url('../images/activities/indoors.jpg');
}

.bg-pic-outdoors {
    background: url('../images/activities/outdoors.jpg');
}

.bg-pic-soft-play {
    background: url('../images/activities/soft-play.jpg');
}

.bg-pic-adventures {
    background: url('../images/activities/adventures.jpg');
}

.activities-pic-style {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 200px;
}

.text-header--activities {
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}

.text-paragraph--activities {
    margin: 0 auto 30px;
}

/*---------------------------------------------------Activities | Video-*/

.video-style {

    width: auto;
    margin: 10px auto 20px;
}

.video-text-p {
    font-weight: 300;
    font-style: normal;
    margin: 0 auto 30px;
}

.video-container {
	position: relative;
	margin: 0 auto;
	padding-bottom: 100%;
	padding-top: 25px;
	height: 0;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
}

/*---------------------------------------------------------------Photos-*/

.carousel-wrapper {
    padding: 0;
}

.carousel-wrapper .left,
.carousel-wrapper .right {
    color: #fff5cc;
    opacity: 1;
    transition: .5s;
}

.carousel-wrapper .left:hover,
.carousel-wrapper .right:hover {
    color: #dbcc93;
}

.pic-i1 {
    background: url('../images/photos/tots_pic_1.jpg');
}

.pic-i2 {
    background: url('../images/photos/tots_pic_2.jpg');
}

.pic-i3 {
    background: url('../images/photos/tots_pic_3.jpg');
}

.pic-i4 {
    background: url('../images/photos/tots_pic_4.jpg');
}

.pic-i5 {
    background: url('../images/photos/tots_pic_5.jpg');
}

.pic-i6 {
    background: url('../images/photos/tots_pic_6.jpg');
}

.pic-i7 {
    background: url('../images/photos/tots_pic_7.jpg');
}

.pic-i8 {
    background: url('../images/photos/tots_pic_8.jpg');
}

.pic-i9 {
    background: url('../images/photos/tots_pic_9.jpg');
}

.pic-i10 {
    background: url('../images/photos/tots_pic_10.jpg');
}

.pic-i11 {
    background: url('../images/photos/tots_pic_11.jpg');
}

.pic-i12 {
    background: url('../images/photos/tots_pic_12.jpg');
}

.pic-i13 {
    background: url('../images/photos/tots_pic_13.jpg');
}

.pic-i14 {
    background: url('../images/photos/tots_pic_14.jpg');
}


.pic-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 150px);
}

/*-----------------------------------------------------Reports | OFSTED-*/

.reports-min-height-wrapper {
    min-height: calc(100vh - 200px);
}

.ofsted-wrapper {
    margin: 50px auto;
}


.ofsted-pic {
    background: url('../images/reports/ofsted_grade.png') top / contain no-repeat;
    min-height: 200px;
    margin: 0 auto 50px auto;

}

.text-paragraph--ofsted {
    font-size: 1em;
    line-height: 1.3em;
}

.text-wrapper--reports {
    color: #fff;
    margin: 30px auto;
}

.ofsted-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-outline-ofsted,
.btn-outline-ofsted:focus {
    color: #fff;
    background-color: #292659;
    border-color: #fff;
    font-weight: bold;
    transition: .3s;
    letter-spacing: 0.1em;
    outline: none;
    margin: 10px;
}

.btn-outline-ofsted:hover,
.btn-outline-ofsted:active,
.btn-outline-ofsted:active:focus {
    background: #fff;
    color: #292659;
    outline: none;
}

/*-----------------------------------------------Reports | Testimonials-*/

.testimonials-wrapper {
    margin-bottom: 0;
}

.text-header--testimonials {
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-pic-one {
    background: url('../images/reports/quote_pic_1.jpg')
}

.testimonials-pic-two {
    background: url('../images/reports/quote_pic_2.jpg')
}

.testimonials-pic-three {
    background: url('../images/reports/quote_pic_3.jpg')
}

.testimonials-pic-four {
    background: url('../images/reports/quote_pic_4.jpg')
}

.testimonials-pic-style {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    min-height: 200px;
    border: none;
}

.testimonials-text-box {
    color: #fff;
    background-color: #292659;
    margin: 0;
    min-height: 100px;
    border: none;
}

.quotes {
    opacity: 0.8;
    margin-top: 20px;
    background: url('../images/quotes/quotes.png') center / contain no-repeat;
    min-height: 50px;
}

/*--------------------------------------------------------------Contact-*/

.contact {
    min-height: calc(100vh - 150px);
}

.contact-pic {
    background: url('../images/contact/tina_contact.png') top / contain no-repeat;
    min-height: 200px;
    margin: 50px 10px 10px 10px;
}

.contact-text-wrapper {
    margin: 20px 0;
}

.text-header--contact {
    font-weight: bold;
}

.contact-divider {
    margin: 40px auto;
    border-color: #bbb;
}

.contact-form {
    width: 100%;
    text-align: left;
}

.contact-box-spacing {
    position: relative;
    margin-bottom: 1px;
}

.form-body {
    font-size: 0.8em;
}

.contact-form .form-control {
    border: none;
}

.indicates-req-field {
    margin-top: 10px;
}

.req-box {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

form i {
    color: #f49e42;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin: -20px auto 40px auto;
}

.btn-outline-send,
.btn-outline-send:focus {
    color: #48734b;
    background-color: #eee;
    border-color: #48734b;
    font-weight: bold;
    transition: .3s;
    letter-spacing: 0.1em;
    outline: none;
}

.btn-outline-send:hover,
.btn-outline-send:active,
.btn-outline-send:active:focus {
    background: #48734b;
    color: #eee;
    outline: none;
}

.btn-outline-reset,
.btn-outline-reset:focus {
    color: #f0ad4e;
    background-color: #eee;
    border-color: #f0ad4e;
    font-weight: bold;
    transition: .3s;
    letter-spacing: 0.1em;
    outline: none;
}

.btn-outline-reset:hover,
.btn-outline-reset:active,
.btn-outline-reset:active:focus {
    background: #f0ad4e;
    color: #eee;
    outline: none;
}

/*---------------------------------------------------------------Footer-*/

.footer-style {
    background-color: #000;
    color: #fff;
    font-family: "capucine-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.social {
    padding: 20px 10px 0 10px;
    margin: 10px 0 0;
}

.social li a {
    text-decoration: none
}

.social li a i {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;

    transition: all .3s ease-in-out;
}

.social li a i:hover {
    color: #fff5cc;
    transform: scale(1.2)
}

/*----------------------------------------------Media Queries - General-*/

@media (min-width: 768px) {
    .navbar-nav {
        padding: 0;
    }
    .services-box-wrapper {
        padding: 30px 20px;
        border-right: 10px solid #432659;
        border-left: 10px solid #432659;
    }
    .ofsted-pic {
        min-height: 300px;
    }
    .reports-min-height-wrapper {
        min-height: calc(100vh - 250px);
    }
    .testimonials-text-box {
        color: #292659;
        background-color: #fff;
        border-top: 4px solid #292659;
        border-bottom: 4px solid #292659;
        border-left: 10px solid #292659;
        border-right: 10px solid #292659;
        min-height: 320px;
    }
    .testimonials-wrapper {
        margin-bottom: 50px;
    }
    .testimonials-pic-style {
        border-top: 4px solid #292659;
        border-bottom: 4px solid #292659;
        border-left: 10px solid #292659;
        border-right: 10px solid #292659;
    }
}

@media (min-width: 992px) {
    .tina-pic {
        min-height: 300px;
    }
    .about-text-wrapper {
        margin: 50px 20px;
    }
    .ofsted-header {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .video-text-width {
        width: 80%;
    }
    .tina-pic {
        min-height: 350px;
        margin: 50px 10px;
    }
}

@media (min-width: 2000px) {
    #activities,
    #video {
        margin: 0 auto;
        max-width: 2000px;
    }
}

/*-----------------------------------------------Media Queries - Photos-*/

@media (min-width: 768px) {
    .bg-fixed {
        background-image: url("../images/home/bg_w.jpg");
    }
    .pic-i1 {
        background: url('../images/photos/tots_pic_1w.jpg');
    }
    .pic-i2 {
        background: url('../images/photos/tots_pic_2w.jpg');
    }
    .pic-i3 {
        background: url('../images/photos/tots_pic_3w.jpg');
    }
    .pic-i4 {
        background: url('../images/photos/tots_pic_4w.jpg');
    }
    .pic-i5 {
        background: url('../images/photos/tots_pic_5w.jpg');
    }
    .pic-i6 {
        background: url('../images/photos/tots_pic_6w.jpg');
    }
    .pic-i7 {
        background: url('../images/photos/tots_pic_7w.jpg');
    }
    .pic-i8 {
        background: url('../images/photos/tots_pic_8w.jpg');
    }
    .pic-i9 {
        background: url('../images/photos/tots_pic_9w.jpg');
    }
    .pic-i10 {
        background: url('../images/photos/tots_pic_10w.jpg');
    }
    .pic-i11 {
        background: url('../images/photos/tots_pic_11w.jpg');
    }
    .pic-i12 {
        background: url('../images/photos/tots_pic_12w.jpg');
    }
    .pic-i13 {
        background: url('../images/photos/tots_pic_13w.jpg');
    }
    .pic-i14 {
        background: url('../images/photos/tots_pic_14w.jpg');
    }
    .pic-style {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}
