/*------------------------------------------------------------Misc Crap-*/

.tiny-space {
    min-height: 50px;
}

.small-space {
    min-height: 300px;
}


/*----------------------------------------------------Background Colors-*/

.bg-color-about {
    background-color: #fff;
}

.bg-color-school-run {
    background-color: #dbfeff;
}

.bg-color-childcare {
    background-color: #ffffcc;
}

.bg-color-meals {
    background-color: #def7de;
}

/*-----------------------------------------------------------Navigation-*/

.navbar {
    font-family: chauncy-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 0;
}

.nav-bg-solid {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.nav-spacer {
    min-height: 50px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:focus {
    font-family: chauncy-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: #fff5cc;
    transition: all .2s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: #fff5cc;
    transform: scale(1.1);
}



.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
    transform: scale(1.1)
}

.navbar-default .navbar-nav>li>a {
    color: #fff5cc;
    transition: all .2s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    transform: scale(1.1);

}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff5cc;
}

/*----------------------------------------------Home | Background Image-*/

.bg-fixed {
    background-image: url("/assets/images/about/bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    /* Removed top / left 0  & height 100% */
    width: 100%;
    z-index: -2;
}

.dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 120vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


/*--------------------------------------------------------------Landing-*/

.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
    font-family: balloon-urw, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.jumbo-h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro .hr-divider {
    width: 50%;
    margin: 30px auto;
}

.intro .btn-success {
    margin: 10px;
    white-space: normal;
    font-size: 1.2em;
    padding: 10px 16px;
    color: #000;
    background-color: #fff5cc;
    border-color: #fff5cc;
    border-radius: 30px;
    border: 0;
}

.intro .btn-success:hover,
.intro .btn-success:focus,
.intro .btn-success:active,
.intro .btn-success:active:focus {
    background-color: #dbcc93;
    border-color: #dbcc93;
    transition: 0.2s ease-in-out;
    outline: 0;
    border: 0;
}

.intro a .down-arrows {
    font-size: 4em;
    margin-top: 20px;
    color: #fff;
    transition: 1s;
}

.intro a .down-arrows:hover {
    color: #fff5cc;
    transform: translate(0, 10px);
}

/*----------------------------------------------------------------About-*/

.tina-pic {
    background: url('/assets/images/about/tina_profile.png');
    min-height: 400px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 10px 30px 10px;
}

.about-text-wrapper {
    margin: 30px 20px 30px 20px;
    font-family: capucine-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.about-text-h {
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text-p {
    font-size: 1.4em;
}

.services-box-wrapper {
    font-family: capucine-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 30px 20px;
    text-align: center;
}

.services-fa {
    font-size: 4em;
    margin-bottom: 10px;
    padding: 0 10px;
}

.services-text-h {
    margin-bottom: 20px;
    font-weight: bold;
}

.services-text-p {
    font-size: 1.2em;
}

.about-link {
    display: block;
    height: 50px;
    margin-top: 50px;
    visibility: hidden;
}

/*---------------------------------------------------------------Footer-*/

.footer-style {
    background-color: #000;
    color: #fff;
    font-family: capucine-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.social {
    padding: 10px;
    margin: 10px 0 0;
}

.social li a {
    text-decoration: none
}

.social li a i {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*transition: 0.5s ease-in-out;*/
    transition: all .3s ease-in-out;
}

.social li a i:hover {
    color: #fff5cc;
    transform: scale(1.2)
}

/*----------------------------------------------------------------Modal-*/

.modal {
    font-family: capucine-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal i {
    color: #f49e42;
}

/* Want to avoid !important override if at all possible?? */

.modal-open {
    padding: 0 !important;
    overflow-y: auto;
}

/*--------------------------------------------------------House Keeping-*/

.row {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}

/* Not supported in Edge or Safari */

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/*--------------------------------------------------------Media Queries-*/

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .tina-pic {
        margin-bottom: 0;
    }
}



/*---------Color Choices, For Reference----*/
/*
Navbar, purple/blue color #8e8cdd
Lighter shade was #6a67ff
Also try, #4340fc

*/
